<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<!--     <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
 -->
    {% if title %}
    <title>{{title}} - sourced</title>
    {% else %}
    <title>sourced</title>
    {% endif %}

    <!-- Bootstrap core CSS -->
    <!-- <link href="/static/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/yeti/bootstrap.min.css"></link>
    <!-- Custom styles for this template -->
    <!-- <link href="/static/css/dashboard.css" rel="stylesheet"> -->
    <link href="/static/css/signin.css" rel="stylesheet">
    <!-- <link href="/static/css/site.css" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- topbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}">sourced</a>
        <div class="nav navbar-nav navbar-right">

            {% if g.user.is_authenticated() %}
            <form class="nav navbar-form navbar-right" action="{{url_for('index')}}" method="post" name="post">
                {{ post_form.post(size = 30, class="form-control", maxlength = 140, placeholder = "Paste a link") }}
            </form>
            {% else %}
              <li><a href="{{ url_for('register') }}">Register</a></li>
              <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </div>

 
         </div>

               

      </div>
    </div>

    <div class="container-fluid">
       <div class="row"> 
            {% if g.user.is_authenticated() %}
                <div class="col-xs-2" style="background-color:white" >
                  <ul class="nav nav-sidebar text-right">
                    <br>
                    <br>
                    <br>
                    <br>
                    <li><a href="{{ url_for('show_user_profile', userint = g.user.id) }}">{{g.user.name}}</a></li>
                    <br>
                    <br>
                    <br>
                    <br>
                    <li ><a href="{{ url_for('show_all_groups') }}"><em>Groups</em></a></li>
                    {% for group in groups %}
                        <li ><a href="{{ url_for('show_group_profile', groupint = group.id) }}">{{group.name}}</a></li>
                    {% endfor %}

                    <br>
                    <br>
                    <br>
                    <br>

                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  </ul>
                </div>
                <div class="col-xs-9 col-xs-offset-1">

            {% else %}
                <div class="col-md-6 col-md-offset-3 main">
            {% endif %}

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
            </div>
        </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!--<script src="../../assets/js/docs.min.js"></script> -->
  </body>
</html>



