<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<h1>All groups</h1>

<div class="row">
	<ul class="nav nav-pills nav-stacked">
		{% for group in allgroups %}
			<li><a href="{{ url_for('show_group_profile', groupint = group.id) }}">{{group.name}}</a></li>
		{% endfor %}
		<li>
		    <form class="form " action="{{url_for('show_all_groups')}}" method="post" name="post">
		        {{ new_group_form.new_group(size = 30, class="form-control", maxlength = 140, placeholder = "new") }}
		    </form>
		</li>
	</ul>

</div>

{% endblock %}