<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<form action="" method="post" name="login" class="form-signin" role="form">
    {{form.hidden_tag()}}
  <h2 class="form-signin-heading">Sign in</h2>
  {{ form.email(type="email", class="form-control", placeholder="Email") }}
  {{ form.password(type="password", class="form-control", placeholder="Password") }}
  <label class="checkbox">
    <input type="checkbox" value="remember-me"> Remember me
  </label>
  {% for error in form.errors %}
  <span style="color: red;">{{error}}</span>
  {% endfor %}<br>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>


    

{% endblock %}
